<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="SnapRoll API reverse proxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8443/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
